*{
    margin:0;
    padding:0;
}
.background-banner
{
    background-color: black;
    height: 65px;
}
.logo
{
    background-color: white;
    height: 45px;
    width: 100px;
    margin: 10px;
    position: absolute;
}
.list{
    margin:0 500px 0 500px;
}
.menu{
    background-color: gray;
    height: 25px;
    width: 60px;
    margin: 20px;
    position:relative;
    float: left;
}

.background-title
{
    background-color: red;
    height: 80px;
}
.logo2{
    background-color: white;
    height: 35px;
    width: 200px;
    margin: 20px;
    position: absolute; 
}
.product
{
    background-color: pink;
    height: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.background-product
{
    background-color: white;
    height: 180px;
    width: 190px;
    margin: 19px 87px 10px 51px;
    position: relative;
    float: left;
}
.image{
    background-color: gray;
    height: 130px;
    width: 160px;
    margin:5px 0px 0px 15px;
    position:absolute;
    float:left;
}
.product-name{
    background-color: black;
    height: 15px;
    width: 140px;
    margin: 140px 0 0 15px;
    position: absolute;
    float:left;
}
.price{
    background-color: red;
    height: 15px;
    width: 110px;
    margin: 156px 0 0 15px;
    position: absolute;
    float:left;
}
